USE [master]
GO
/****** Object:  Database [Congress]    Script Date: 29/02/2020 08:47:50 p. m. ******/
CREATE DATABASE [Congress]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Congress', FILENAME = N'D:\MyApps\SQL Server Express 2019\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\Congress.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Congress_log', FILENAME = N'D:\MyApps\SQL Server Express 2019\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\Congress_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Congress].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Congress]
GO
/****** Object:  Table [dbo].[BILL]    Script Date: 29/02/2020 08:47:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[Bill_Name] [varchar](200) NOT NULL,
	[Date_of_Vote] [date] NOT NULL,
	[Passed_or_Failed] [bit] NOT NULL,
	[CongressPerson_Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BILL] PRIMARY KEY CLUSTERED 
(
	[Bill_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGRESS_PERSON]    Script Date: 29/02/2020 08:47:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGRESS_PERSON](
	[Name] [varchar](50) NOT NULL,
	[District] [varchar](50) NOT NULL,
	[Start_Date] [date] NOT NULL,
	[Party] [varchar](15) NOT NULL,
	[State_Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CONGRESS_PERSON] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATE]    Script Date: 29/02/2020 08:47:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATE](
	[Name] [varchar](50) NOT NULL,
	[Region] [varchar](10) NOT NULL,
 CONSTRAINT [PK_STATE] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOTES]    Script Date: 29/02/2020 08:47:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOTES](
	[CongressPerson_Name] [varchar](50) NOT NULL,
	[Bill_Name] [varchar](200) NOT NULL,
	[Decision] [varchar](10) NOT NULL,
 CONSTRAINT [PK_VOTES] PRIMARY KEY CLUSTERED 
(
	[CongressPerson_Name] ASC,
	[Bill_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_CONGRESS_PERSON] FOREIGN KEY([CongressPerson_Name])
REFERENCES [dbo].[CONGRESS_PERSON] ([Name])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_CONGRESS_PERSON]
GO
ALTER TABLE [dbo].[CONGRESS_PERSON]  WITH CHECK ADD  CONSTRAINT [FK_CONGRESS_PERSON_STATE] FOREIGN KEY([State_Name])
REFERENCES [dbo].[STATE] ([Name])
GO
ALTER TABLE [dbo].[CONGRESS_PERSON] CHECK CONSTRAINT [FK_CONGRESS_PERSON_STATE]
GO
ALTER TABLE [dbo].[VOTES]  WITH CHECK ADD  CONSTRAINT [FK_VOTES_BILL] FOREIGN KEY([Bill_Name])
REFERENCES [dbo].[BILL] ([Bill_Name])
GO
ALTER TABLE [dbo].[VOTES] CHECK CONSTRAINT [FK_VOTES_BILL]
GO
ALTER TABLE [dbo].[VOTES]  WITH CHECK ADD  CONSTRAINT [FK_VOTES_CONGRESS_PERSON] FOREIGN KEY([CongressPerson_Name])
REFERENCES [dbo].[CONGRESS_PERSON] ([Name])
GO
ALTER TABLE [dbo].[VOTES] CHECK CONSTRAINT [FK_VOTES_CONGRESS_PERSON]
GO
USE [master]
GO
